@media all and (max-width: 1024px) {
    
    .container {
        padding: 0 10%;
    }

    h1 {
        text-align: center;
    }

/*--------------------------------------------ここからheader--------------------------------------------*/

    .header-right {
        display: none;
    }

    .btn-header {
        display: block;
    }

    .responsive-menu {
        display: flex;
    }

/*--------------------------------------------ここからmain--------------------------------------------*/

    .top-wrapper {
        padding-left: 0;
        background-position: center;
    }

    .top-text {
        font-size: 8rem;
        opacity: 0.9;
    }

    .hiphop,
    .jpop,
    .vocaloid {
        padding-bottom: 0;
    }
    
    .jpop {
        padding-left: 0;
    }

    .hiphop-list,
    .jpop-list,
    .vocaloid-list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    .hiphop-item,
    .jpop-item,
    .vocaloid-item {
        margin: 0 auto;
    }

    .hiphop,.hiphop-music,
    .jpop,.jpop-music,
    .vocaloid,.vocaloid-music {
        width: 100%;
    }


    .hiphop-music,
    .jpop-music,
    .vocaloid-music {
        padding-top: 56.25%;
        margin-top: 50px;
    }

/*--------------------------------------------ここからfooter--------------------------------------------*/

    .footer-menu {
        display: flex;
        flex-direction:column;
        text-align: center;
    }

    .footer-hiphop,
    .footer-jpop,
    .footer-vocaloid {
        width: 100%;
        border: none;
        margin-bottom: 0 5%;
    }

    .footer-title {
        border: 2px solid;
        cursor: pointer;
    }
    
    .footer-title.active {
        background-color: #545F6E;
        color: #BDB7A0;
        border: none;
    }
    
    .footer-list {
        line-height: 0;
        overflow: hidden;
        opacity: 0;
        transition-duration: .2s;
        height: 0;
    }
    
    .footer-list.open {
        line-height: 1.5;
        height: 210px;
        opacity: 1;
    }
    
    .footer-item {
        height : 33.33333% ;
        height : -webkit-calc(100% / 3) ;
        height : calc(100% / 3) ;
        display: flex;
        justify-content: center;
    }
    
    .btn-footer {
        display: flex;
        align-items: center;
    }
    
    .footer-icon-list {
        margin-top: 0;
    }

}

@media all and (max-width: 540px) {

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    a {
        font-size: 4rem;
    }

    .responsive-menu {
        width: 50%;
        right: -50%;
    }

    .top-wrapper {
        padding: 150px 0 200px 0;
    }

    .hiphop-wrapper,
    .jpop-wrapper,
    .vocaloid-wrapper,
    .footer-wrapper {
        padding: 50px 0;
    }

    .btn-hiphop,
    .btn-jpop,
    .btn-vocaloid {
        width: 100%;
    }

    .btn-hiphop {
        line-height: 1;
    }

    .btn-jpop {
        line-height: 1.3;
    }

    .btn-jpop::after {
        width: 4.5em;
        bottom: .15em;
    }

    .hiphop-item,
    .jpop-item,
    .vocaloid-item {
        margin: 0;
    }

    .vocaloid-name {
        -webkit-transform-origin: 50% 50% -35px;
        -moz-transform-origin: 50% 50% -35px;
        transform-origin: 50% 50% -35px;
    }

    .vocaloid-hover-name {
        -webkit-transform-origin: 50% 50% -35px;
        -moz-transform-origin: 50% 50% -35px;
        transform-origin: 50% 50% -35px;
    }

    .hiphop-music,
    .jpop-music,
    .vocaloid-music {
        margin-top: 10px;
    }

    .footer-hiphop,
    .footer-jpop,
    .footer-vocaloid {
        padding: 0;
    }

    .footer-name {
        font-size: 3rem;
    }

    .footer-icon-list {
        margin-top: 40px;
        text-align: center;
    }

    .footer-icon-list::before,
    .footer-icon-list::after {
        content: none;
    }

    .footer-icon-list li {
        margin: 0;
        width: 20%;
    }

    .icon {
        width: auto;
    }

}
