* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /*フォントサイズ10px*/
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4em;  /*フォントサイズ14px*/
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

li {
    list-style: none;
}

a  {
    text-decoration: none;
    font-size: 5rem;
    display: inline-block;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*--------------------------------------------ここからheader-wrapper--------------------------------------------*/

header {
    background: #BDB7A0;
    width: 100%;
    position: fixed;
    z-index:999;
    color: #545F6E;
    border-bottom: 2px solid #545F6E;
    padding: 15px;
    padding-right: 0;
}

.header-wrapper {
    display: flex;
}

.header-left,
.header-right {
    flex: auto;
    width: 50%;
}

.page-title {
    pointer-events: none;
}

.header-menu {
    display: flex;
    text-align: center;
    height: 100%;
    align-items: center;
}

.header-item {
    flex: auto;
    width : 33.33333% ; 
    width : -webkit-calc(100% / 3) ;
    width : calc(100% / 3) ;
    text-align: center;
    border-left: 2px solid;
}

.header-item:first-child {
    border: none;
}

.header-hiphop,
.header-jpop,
.header-vocaloid {
    font-size: 2.5rem;
    height: 100%;
    color: #545F6E;
    height: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header-hiphop::after,
.header-jpop::after,
.header-vocaloid::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #262C3A;
    bottom: 10px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.header-hiphop:hover,
.header-jpop:hover,
.header-vocaloid:hover {
    color: #262C3A;
}

.header-hiphop:hover::after,
.header-jpop:hover::after,
.header-vocaloid:hover::after {
    bottom: 2px;
    opacity: 1;
    visibility: visible;
}

.header-hiphop-list,
.header-jpop-list,
.header-vocaloid-list {
    position: fixed;
    background-color: #BDB7A0;
    border: 2px solid;
    border-top: none;
    top: 69px;
    flex-direction: column;
    width: calc(100% / 6);
    height: 180px;
    display: none;
}

.header-hiphop-item,
.header-jpop-item,
.header-vocaloid-item {
    height: calc(100% / 3);
    width: 100%;
    border-top: 2px solid;
}

.header-hiphop-item:first-child,
.header-jpop-item:first-child,
.header-vocaloid-item:first-child {
    border: none;
}

.header-hiphop-name,
.header-jpop-name,
.header-vocaloid-name {
    font-size: 3rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #545F6E;
}

.header-hiphop-name:hover,
.header-jpop-name:hover,
.header-vocaloid-name:hover {
    color: #262C3A;
}

/*ここからレスポンシブ用*/

.btn-header { 
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.btn-line {
    width: 100%;
    height: 4px;
    background-color: #545F6E;
    display: block;
    position: relative;
    transition: .2s;
}

.btn-line::before, .btn-line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #545F6E;
    transition: .5s;
}

.btn-line::before {
    transform: translateY(-11px);
}

.btn-line::after {
    transform: translateY(11px);
}

.btn-line.open {
    background-color: transparent;
}

.btn-line.open::before,
.btn-line.open::after {
    content: "";
    background-color: #545F6E;
    transition: .2s;
}

.btn-line.open::before {
    transform: rotate(45deg);
}

.btn-line.open::after {
    transform: rotate(-45deg);
}

.responsive-menu {
    position: fixed;
    right: -30%;
    width: 30%;
    height: 20%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color: #545F6E;
    background-color: #BDB7A0;
    transition: .3s;
    display: none;
    border-left: 2px solid;
    border-bottom: 2px solid
}

.responsive-item {
    width: 100%;
    height: 100%;
}

.responsive-hiphop,
.responsive-jpop,
.responsive-vocaloid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    color: #545F6E;
}

.responsive-vocaloid {
    border: none;
}

.responsive-menu.open {
    right: 0;
}

/*--------------------------------------------ここからtop-wrapper--------------------------------------------*/

.top-wrapper {
    background-image: url(modern.jpeg);
    background-size: cover;
    width: 100%;
    padding: 200px 0 450px 50px;
}

.top-text {
    color: #fff;
    opacity: 0.8;
    pointer-events: none;
}

/*--------------------------------------------ここからhiphop-wrapper--------------------------------------------*/
/*hiphop-wrapperからfooterにかけて、青のグラデーションを作っていく*/

.hiphop-wrapper {
    background-color: #262C3A;
    width: 100%;
    padding: 70px 0;
    color: #BDB7A0;
}

.hiphop {
    padding-bottom: 100px;
    flex: auto;
    width: 50%;
}

.hiphop-music {
    width: 50%;
    margin-top: 10rem;
    padding-top: 35%;
    height: 0;
    position: relative;
    flex: auto;
}

.hiphop-list {
    padding-top: 50px;
    padding-left: 100px;
}

.btn-hiphop {
    background: #BDB7A0;
    color: #262C3A;
    border-radius: 10px;
    padding: 0px 0px 8px 5px;
    transition: all 0.15s ease;
    line-height: 1.2;
    margin-bottom: 25px;
    width: 400px;
}

.hiphop-name {
    display: inline-block;
    transition: all .15s ease;
    margin: 10px 0 3px 0;
}

.btn-hiphop:hover .hiphop-name,
.btn-hiphop:active .hiphop-name {
    transition: all .15s ease;
    padding-left: 10px;
}

/*--------------------------------------------ここからjpop-wrapper--------------------------------------------*/

.jpop-wrapper {
    background-color: #303745;
    width: 100%;
    padding: 70px 0;
    color: #BDB7A0;
}

.reverse {
    flex-direction: row-reverse;
}


.jpop-music {
    width: 50%;
    margin-top: 10rem;
    padding-top: 35%;
    height: 0;
    position: relative;
    flex: auto;
}

.jpop {
    padding-left: 5%;
    padding-bottom: 100px;
    flex: auto;
    width: 50%;
}

.jpop-list {
    padding-top: 50px;
    padding-left: 100px;
}

.btn-jpop {
    position: relative;
    background: #BDB7A0;
    color: #303745;
    padding: 8px 0px 8px 3px;
    z-index: 2;
    display: flex;
    align-items: center;
    line-height: 1.5;
    border: 1px solid #BDB7A0;
    margin-bottom: 25px;
    width: 400px;
}

.crossbar {
    border-top: 2px solid;
    width: 1.5em;
}

.jpop-name {
    display: inline-block;
    transition: all 0.4s ease;
}
.btn-jpop:hover .jpop-name,
.btn-jpop:active .jpop-name {
  color: #BDB7A0;
}

.btn-jpop::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: #303745;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: -1;
    border: 1px solid #BDB7A0;
}

.btn-jpop:hover::before,
.btn-jpop:active::before {
    border:1px solid #BDB7A0;
    width: 100%;
}

.btn-jpop::after {
    content: ' ';
    background-color: #BDB7A0;
    width: 5em;
    height: .07em;
    position: absolute;
    left: 1.5em;
    bottom: .2em;
}

/*--------------------------------------------ここからvocaloid-wrapper--------------------------------------------*/

.vocaloid-wrapper {
    background-color: #3F4856;
    width: 100%;
    padding: 70px 0;
    color: #BDB7A0;
}

.vocaloid {
    padding-bottom: 100px;
    flex: auto;
    width: 50%;
}

.vocaloid-list {
    padding-top: 50px;
    padding-left: 100px;
}

.btn-vocaloid {
    text-align: center;
    position: relative;
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
    line-height: 1.2;
    margin-bottom: 25px;
    width: 400px;
}

.vocaloid-name {
    display: block;
    background-color: #BDB7A0;
    color: #3F4856;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    border: 2px solid #BDB7A0;
    transition: all .3s;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -40px;
    -moz-transform-origin: 50% 50% -40px;
    transform-origin: 50% 50% -40px;
}

.btn-vocaloid:hover .vocaloid-name,
.btn-vocaloid:active .vocaloid-name {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.vocaloid-hover-name {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 0;
    border: 2px solid #BDB7A0;
    transition: all .3s;
    background-color: #3F4856;
    color: #BDB7A0;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -40px;
    -moz-transform-origin: 50% 50% -40px;
    transform-origin: 50% 50% -40px;
    z-index: -1;
}

.btn-vocaloid:hover .vocaloid-hover-name,
.btn-vocaloid:active .vocaloid-hover-name {
    display: block;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 1;
}

.vocaloid-music {
    width: 50%;
    margin-top: 10rem;
    padding-top: 35%;
    height: 0;
    position: relative;
    flex: auto;
}

/*--------------------------------------------ここからfooter-wrapper--------------------------------------------*/

.footer-wrapper {
    background-color: #BDB7A0;
    width: 100%;
    padding: 70px 0;
    color: #545F6E;
}

.footer {
    flex: auto;
}

.footer-menu {
    display: flex;
}

.footer-hiphop,
.footer-jpop,
.footer-vocaloid {
    width : 33.33333% ;
    width : -webkit-calc(100% / 3) ;
    width : calc(100% / 3) ;
    padding-left: 3rem;
    border-left: 2px solid;
}

.footer-hiphop {
    border: none;
}

.btn-footer {
    color: #545F6E;
}

.footer-name {
    font-size: 3rem;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.footer-list::before,
.footer-list::after {
    content: "";
    border-top: 2px solid #545F6E;
    flex-grow: 1;
}

.footer-list li {
    margin: 0 2rem;
}

.icon {
    width: 100%;
}

.fab {
    color: #545F6E;
    flex: auto;
    font-size: 4rem;
}

.btn-footer:hover,
.fab:hover {
    color: #262C3A;
}

